@dark:          #272822;
@middle:        #56595a;
@bright:        #46494a;
@border-dark:   #1e1f20;
@border-bright: #56595a;
@textcolor:     #d0d0d0;
@textcolor2:    #94a3a7;
@swatchhover:   #74ddf1;
@panelBG:       #454849;
@danger:        #843534;
@danger-border: lighten(@danger, 20%);

@icon: 'images/swatcher-icon.png';
@transBG: 'images/bg-transparent.png';

#swatcher {
  background-color: @panelBG;
}

.swatcher {
    height:400px;
}

.swatcher-error {
    background-color: @danger;
    border: 1px solid @danger-border;
    color:white;
    width: 600px;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    margin: 1px auto;
    
    h3 {
        padding:0;
        margin: 0;
        text-align:right;
        color: @danger-border;
    }
    
    hr {
        border: 0;        
        color: @danger-border;
        background-color: @danger-border;
        height: 1px;
        margin: 0 0 10px 0;
        padding:0;
    }
    
    a {
        color: @danger-border;
        
        &:hover {
            color:white;
        }
    }    
}

#swatcher-settings-blacklist {
    width: 550px !important;
}

.toolbar-right {
    position:absolute;
    right: 40px;
    top: 6px;
}

#swatcher-container {
    overflow:auto;
    height:100%;
    width: 100%;
    padding-bottom: 100px;
}

#extension-name-icon {
    background-image: url(extension-name-sprite.svg);
}

#swatcher-toolbar-icon {
    background-image: url(@icon);
    height: 24px;
    width: 24px;
    &.ok {
        background-position: 0 -24px !important;
    }
    
    &.active {
        background-position: 0 -48px !important;                
    }
    
    &.warning, &.loading {
        background-position: 0 -72px !important;        
    }
    
    &.error {
        background-position: 0 -96px !important;        
    }
}

.swatcher-insless {
    display:none;
}

.swatcher-prepare-color {
    height: 30px;
    width: 30px;
}

.swatcher-color {
    width: 70px; 
    height: 70px;
    border-bottom: 1px solid @border-dark;
    cursor: pointer;    
}

.swatcher-colorwrap {
    border-radius: 3px;
    border-top: 1px solid @border-bright;
    border-left: 1px solid @border-bright;
    border-right: 1px solid @border-dark;
    border-bottom: 1px solid @border-dark;
    background-color:@middle;
    width: 70px;
    height: 70px;
    float: left;
    margin: 3px;
    position: relative;
    transition: box-shadow 600ms ease-out;
    transition: border-color 400ms ease-out;
    transition: background-color 400ms ease-out;
    font-size: 12px;
    overflow: hidden;
    background: url(@transBG);
}

.swatcher-label {              
    display: none;
    position:absolute;     
    padding: 2px 6px; 
    color: @swatchhover;
    text-align:center;
    text-shadow: @border-dark 0 1px 0px;
    background: rgba(0, 0, 0, 0.7);    
    border-radius: 5px;
    cursor:pointer;
}

.dialog-legend {
    font-size: 13px;
    font-weight:bold;
    margin: 0 0 10px 0;
    padding:0;
}