.swatcher-colortable-colorremove {
    cursor: pointer;
    color: #a9acac;  
    font-weight:bold;
    display: inline-block;
    font-size: 15px;
    
    &:hover {        
        color: @dark-bc-text-link;
    }
}

.swatcher-colortable-color {
    border-radius: 3px;
    border: 1px solid #adadad;            
    vertical-align: bottom;
    width: 15px;
    height: 15px;
    display: inline-block;    
}

.swatcher-colorimport-loading {
    background: url(@spinner) no-repeat;
    height:16px;
    width:16px;
    display:none;
} 

.swatcher-insless {
    display:none;
}

.swatcher-converted-warn {
    width: 15px;
    height: 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid @bc-error;
    color: @bc-error;
    border-radius: 3px;
    vertical-align: bottom;
    display: inline-block;    
    cursor:help;
    line-height: 15px;
}