/*
 * Brackets Colors
 *
 * These are general purpose colors that can be used in defining
 * themes or UI elements.

 * IMPORTANT: IF we want a UI element to be themeable, these variable names or
 * color literals (#aaa) should not be used in its definition.
 *
 * Instead, a new semantically-meaningful variables/mixins should be added
 * to the "brackets_theme_default.less" file, and then these variables/mixins
 * should be used in the definition of the UI element
 *
 * For UI elements we do NOT want to theme, we should use these color names
 *
 * All brackets color variable names (that refer to an actual color)
 * are prefixed with "bc-" for "brackets". This is to avoid confusion
 * with system and css color names. (We define our own colors because system
 * colors are ugly.)
 */
/* Dark Core UI variables -----------------------------------------------------------------------------*/
#swatcher-container {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}
.simple-toolbar-layout.toolbar {
  overflow: visible;
}
#swatcher-toolbar-icon {
  background-image: url('images/swatcher-icon.png');
  height: 24px;
  width: 24px;
}
#swatcher-toolbar-icon.ok {
  background-position: 0 -24px !important;
}
#swatcher-toolbar-icon.active {
  background-position: 0 -48px;
}
#swatcher-toolbar-icon.warning,
#swatcher-toolbar-icon.loading {
  background-position: 0 -72px !important;
}
#swatcher-toolbar-icon.error {
  background-position: 0 -96px !important;
}
.swatcher-swatch-hints {
  display: inline-block;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  border: 1px solid #ffffff;
}
.swatcher-switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 55px;
  height: 20px;
  border-radius: 3px;
  box-shadow: inset 0 -1px #555555, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-color: #555555;
}
.swatcher-switch > input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.swatcher-switch .label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #555555;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  transition: 0.15s ease-out;
  transition-property: opacity background;
}
.swatcher-switch .label:before,
.swatcher-switch .label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  transition: inherit;
}
.swatcher-switch .label:before {
  content: "Off";
  right: 7px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.swatcher-switch .label:after {
  content: "On";
  left: 7px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.swatcher-switch > input:checked ~ .label {
  background: #003a68;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.swatcher-switch > input:checked ~ .label:before {
  opacity: 0;
}
.swatcher-switch > input:checked ~ .label:after {
  opacity: 1;
}
.swatcher-switch .handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-image: linear-gradient(to bottom, #016dc4, #00569b);
  background-repeat: repeat-x;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.15s ease-out;
  z-index: 999999;
}
.swatcher-switch input:checked ~ .handle {
  left: 32px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
#swatcher-colorimport-pastebox {
  width: 100px;
  height: 100px;
  border: 1px dashed #626262;
  background-color: #ffffff;
  background-image: url('images/pastebox.png');
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 15px;
  float: left;
}
.dark #swatcher-colorimport-pastebox {
  background-color: #1c1c1e;
}
#swatcher-colorimport-pastebox:focus,
#swatcher-colorimport-pastebox:active {
  outline: none;
  border: 1px dashed #2893ef;
}
.dark #swatcher-colorimport-pastebox:focus,
.dark #swatcher-colorimport-pastebox:active {
  border: 1px dashed #2893ef;
}
.swatcher-dialog-description .pastebox-desc {
  height: 110px;
  width: 400px;
}
.swatcher-dialog-description .error {
  color: #f74687;
  font-weight: bold;
}
.swatcher-color {
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}
.swatcher-colorwrap {
  width: 35px;
  height: 35px;
  margin: 2px;
  border-radius: none;
}
.big .swatcher-colorwrap {
  width: 70px;
  height: 70px;
  margin: 3px;
  border-radius: 3px;
}
.swatcher-colorwrap {
  border-top: 1px solid #868686;
  border-left: 1px solid #868686;
  border-right: 1px solid #868686;
  border-bottom: 1px solid #868686;
  float: left;
  position: relative;
  transition: border-color 333ms ease-out;
  font-size: 12px;
  overflow: hidden;
  background: url('images/bg-transparent.png');
}
.dark .swatcher-colorwrap {
  border-top: 1px solid #202020;
  border-left: 1px solid #202020;
  border-right: 1px solid #202020;
  border-bottom: 1px solid #202020;
}
.swatcher-colorwrap:hover {
  border: 1px solid #2893ef;
}
.swatcher-label {
  display: none;
  position: absolute;
  padding: 2px 6px;
  color: #0083e8;
  text-align: center;
  text-shadow: #1474bf 0 1px 0px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  cursor: pointer;
}
.dark .swatcher-label {
  color: #6bbeff;
  text-shadow: #202020 0 1px 0px;
  background: rgba(0, 0, 0, 0.8);
}
.swatcher-swatch-panel {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #202020;
  cursor: pointer;
}
.swatcher-colortable-colorremove {
  cursor: pointer;
  color: #a9acac;
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
}
.swatcher-colortable-colorremove:hover {
  color: #6bbeff;
}
.swatcher-colortable-color {
  border-radius: 3px;
  border: 1px solid #adadad;
  vertical-align: bottom;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.swatcher-colorimport-loading {
  background: url('images/spinner.gif') no-repeat;
  height: 16px;
  width: 16px;
  display: none;
}
.swatcher-insless {
  display: none;
}
#swatcher-reset-filter {
  margin: 0 0 0 -25px;
  font-size: 18px;
  background: transparent;
  border: none;
  color: #2a2a2a;
}
#swatcher-reset-filter:hover {
  color: #000;
}
#swatcher-filter {
  margin: 0;
  height: 18px;
  padding: 2px 0 2px 5px;
}
.toolbar-right {
  position: absolute;
  right: 40px;
  top: 5px;
}
.settings-button {
  padding: 4px 6px;
  background: url('images/settings.svg') 0 0 no-repeat;
  width: 13px;
  height: 13px;
  background-position: center;
}
.swatcher-notice {
  background-color: #222222;
  color: white;
  width: 600px;
  border-radius: 5px;
  padding: 5px 10px 10px 10px;
  margin: 1px auto;
  border: 1px solid black;
  box-shadow: 1px 2px 0px 0px #3c3c3c, inset 3px 4px 6px 0px rgba(0, 0, 0, 0.2);
}
.swatcher-notice h3 {
  padding: 0;
  margin: 0;
  text-align: right;
  color: #2893ef;
  text-shadow: 1px 0px 0px #0c5ea5;
}
.swatcher-notice hr {
  border: 0;
  color: #2893ef;
  background-color: #2893ef;
  height: 1px;
  margin: 0 0 10px 0;
  padding: 0;
  box-shadow: 1px 1px 0px 0px #57abf3;
}
.swatcher-notice a {
  color: #0083e8;
}
.swatcher-notice a:hover {
  color: white;
}
.swatcher-error {
  background-color: #222222;
  color: white;
  width: 600px;
  border-radius: 5px;
  padding: 5px 10px 10px 10px;
  margin: 1px auto;
  border: 1px solid black;
  box-shadow: 1px 2px 0px 0px #3c3c3c, inset 3px 4px 6px 0px rgba(0, 0, 0, 0.2);
}
.swatcher-error h3 {
  padding: 0;
  margin: 0;
  text-align: right;
  color: #fa689d;
  text-shadow: 1px 0px 0px #f4085e;
}
.swatcher-error hr {
  border: 0;
  color: #fa689d;
  background-color: #fa689d;
  height: 1px;
  margin: 0 0 10px 0;
  padding: 0;
  box-shadow: 1px 1px 0px 0px #3c3c3c;
}
.swatcher-error a {
  color: #f74687;
}
.swatcher-error a:hover {
  color: white;
}
#swatcher-cp-canvas {
  cursor: crosshair;
}
#swatcher-cp-colors-holder {
  width: 40%;
  height: 300px;
  overflow-y: scroll;
}
#swatcher-cp-holder {
  position: relative;
  background-color: #222222;
  width: 60%;
  height: 350px;
  float: left;
}
#swatcher-cp-preview {
  position: absolute;
  right: 0;
  top: 0;
  height: 80px;
  width: 80px;
  border: 1px solid #393939;
  background-color: white;
  cursor: pointer;
}
#swatcher-cp-addcolor {
  margin: 13px auto auto auto;
  border-radius: 999px;
  width: 50px;
  height: 35px;
  padding-top: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 35px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  display: block;
}
#swatcher-cp-preview:hover > #swatcher-cp-addcolor {
  cursor: pointer;
  opacity: 1;
}
#swatcher-cp-zoomControls {
  position: absolute;
  right: 5px;
  bottom: 0;
}
#swatcher-cp-zoomControls > button {
  height: 30px;
  width: 30px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 0;
}
#swatcher-cp-fit {
  background-image: url('images/fitscreen-light.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.dark #swatcher-cp-fit {
  background-image: url('images/fitscreen-dark.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}
